<div class="background-container">
<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Login to your account" [style]="{ width: '360px' }">
    <hr class="separator" />
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="field">
        <label for="email">Email</label>
        <input 
          pInputText 
          class="w-full" 
          id="email" 
          formControlName="email" 
          placeholder="Type your email" 
        />
        <small 
          *ngIf="email?.invalid && (email?.dirty || email?.touched)" 
          class="block p-error" 
          style="color: red; font-weight: bold;">
          <ng-container *ngIf="email?.hasError('required')">Email is required</ng-container>
          <ng-container *ngIf="email?.hasError('email')">Email is invalid</ng-container>
        </small>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <p-password 
          formControlName="password" 
          [feedback]="false" 
          [toggleMask]="true" 
          inputId="password" 
          inputStyleClass="w-full" 
          styleClass="w-full">
        </p-password>
        <small 
          *ngIf="password?.invalid && (password?.dirty || password?.touched)" 
          class="block p-error" 
          style="color: red; font-weight: bold;">
          Password is required
        </small>
      </div>

      <p-button 
        label="SIGN IN" 
        styleClass="w-full" 
        [disabled]="loginForm.invalid" 
        type="submit">
      </p-button>

      <div class="mt-2"> 
        Not a member? <a routerLink="/register">Register</a>
      </div>
    </form>
  </p-card>
</div>
</div>