<div class="dashboard-container">
  <div class="dashboard-header">
    <h2 style=" color: #203354; font-weight: bold; margin-top: 20px;">Admin Dashboard</h2>
    <h3 class="welcome-text">Welcome, {{ userName }}</h3>
  </div>
    <div class="charts">
      <div class="pie">
        <h3>Pie Chart (Coming Soon)</h3>
      </div>
      <div class="line">
        <h3>Line Chart (Coming Soon)</h3>
      </div>
    </div>
  
    <div class="requests">
        <div class="newuser">
            <h2 style="text-align: center; color: #203354; font-weight: bold; margin-top: 20px;">Last 5 Registered Users</h2>
            <ul> 
              <li *ngFor="let user of users">{{ user.name }}</li>
            </ul>
          </div>
                  
  
      <div class="booking">
        <h2 style="text-align: center; color: #203354; font-weight: bold; margin-top: 20px;">Appointments</h2>
        <div *ngFor="let booking of bookings" class="booking-item">
          <span>{{ booking.day }} - {{ booking.time_slot }}</span>
        </div>
      </div>      
    </div>

    <h3 style="text-align: center; color: #203354; font-weight: bold; margin-top: 20px;">
        Detailed Booking Records
      </h3>    <p-table [value]="bookings" class="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date</th>
          <th>Day</th>
          <th>Time Slot</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-booking>
        <tr>
          <td>{{ booking.name }}</td>
          <td>{{ booking.email }}</td>
          <td>{{ booking.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ booking.day }}</td>
          <td>{{ booking.time_slot }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  