<div class="container">
    <h2>Trading Soft</h2>

    <ul>
        <li routerLink="/admin-dashboard"><fa-icon [icon]="faHome" class="icon"></fa-icon>Home</li>
        <li routerLink="/admin-dashboard/users"><fa-icon [icon]="faUser" class="icon"></fa-icon>Users</li>
        <li routerLink="/admin-dashboard/adduser"><fa-icon [icon]="faAdd" class="icon"></fa-icon>Add User</li>
        <!-- <li routerLink="/login"><fa-icon [icon]="logout" class="icon"></fa-icon>Logout</li> -->
        <li (click)="onLogout()"><fa-icon [icon]="logout" class="icon"></fa-icon>Logout</li>
    </ul>
</div>