<div class="background-container">
  <div class="welcome-message">
    Welcome, {{ userName }}
  </div>
  <div class="flex justify-content-center align-items-center min-h-screen">
    <p-card header="Book Appointment" [style]="{ width: '360px' }">
      <div class="logout-container">
        <i class="pi pi-power-off logout-icon" (click)="onLogout()">logout</i>
      </div>

      <form [formGroup]="BookingForm" (ngSubmit)="onbookingAppointment()">
        <div class="field">
          <label for="date">Date</label>
          <p-datepicker
            formControlName="date"
            class="w-full"
            id="date"
            placeholder="select a date"
            [minDate]="minDate"
            [maxDate]="maxDate"
            (onSelect)="onDateChange()"
          />
          <small
            *ngIf="date?.invalid && (date?.dirty || date?.touched)"
            class="block p-error"
            style="color: red; font-weight: bold"
          >
            <ng-container *ngIf="date?.hasError('required')">
              pick a date</ng-container
            >
          </small>
        </div>

        <div class="field">
          <label for="timeSlot">Available Time Slot</label>
          <p-select
            [options]="availableTimeSlots"
            formControlName="timeSlot"
            placeholder="Select a time slot"
            class="w-full"
          >
          </p-select>
        </div>

        <p-button
          label="SUBMIT"
          styleClass="w-full"
          [disabled]="BookingForm.invalid"
          type="submit"
        >
        </p-button>
      </form>
    </p-card>
  </div>
</div>
