.background-container {
    background: url('/images/appointment-image.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
}

  
  .logout-container {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .logout-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
    transition: color 0.3s;
  }
  
  .logout-icon:hover {
    color: darkred;
  }
  